{% extends 'base.html.twig' %}

{% block title %}Historique index{% endblock %}

{% block body %}
    <h1>Historique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>DateAction</th>
            </tr>
        </thead>
        <tbody>
        {% for historique in historiques %}
            <tr>
                <td>{{ historique.action }}</td>
                <td>{{ historique.dateAction ? historique.dateAction|date('d/m/Y') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
